run = "npm run start"
modules = ["nodejs-18"]

[nix]
channel = "stable-23_05"

[env]
NODE_ENV = "production"
PORT = "5000"

[deployment]
run = ["sh", "-c", "npm run build && npm run start"]

[languages.typescript]
pattern = "**/{*.ts,*.js,*.tsx,*.jsx}"

[packager]
language = "nodejs"

[packager.features]
packageSearch = true
guessImports = true
